body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    width: 97%;

}

.header{
    width: 95%;
}

.header ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: right;
    flex-wrap: nowrap;
    list-style: none;
    margin-left: -10px;

}

.header ul a{
    color: #474747;
    text-decoration: none;
    font-family: "Poppins";
    margin-right: 30px;
}
.header ul .margin_item{
    margin-left: auto;
}


.main .search_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top:30px;

}
.main .search_form label p{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 43px;
    line-height: 56px;
}
.main .search_form label span{

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 76px;
    color: #FC3C4F;
}
.main .search_form .bar{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    height: 72px;
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    box-shadow: 0px 2px 16px #ECECEC;
    border-radius: 5px;
}
.main .search_form img{
    margin-left:10px ;
    margin-right: 10px;

}
.main .search_form .bar .city{
    height: 66px;
    width: 100%;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    border: hidden;
}
.main .search_form .bar .city::placeholder{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 30px;
    color: #767676;
}
.main .search_form .bar .city:focus{
    outline: none;

}


.main .search_form .bar button{
    margin-left:auto;
    margin-right: 10px;
    background: #FF5661;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 25px;
    color: #FFFFFF;

    border: hidden;
    text-align: center;
    border-radius: 5px;
    height: 48px;
}

.main .explore{
    margin-top: 107px;
}

.main .explore p{
    margin-bottom: -10px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 43px;
    color: #484848;
}
.main .explore .cards{
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.main .explore .card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    width: 244px;
    margin-right: 10px;
    margin-top: 10px;
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    box-shadow: 0px 2px 16px #ECECEC;
    border-radius: 5px;
}
.main .cards p{
    font-family: Poppins;
    font-style: normal;
    margin: auto;
    font-weight: 600;
    font-size: 17px;
    line-height: 29px;
    color: #484848;
}
.main  .cards img{
    width: 96px;
    height: 70px;
}









.main .experiences{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 67px;
}
.main .experiences>div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.main .experiences>p {
    margin-bottom: -20px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 43px;

    /* identical to box height, or 165% */
    letter-spacing: 0.2px;

    color: #484848;
}
.main .experiences .card{
    width: 243px;
    height: 278px;
    margin-right: 19px;
    margin-top: 32px;

}
.main .experiences .card img{
    width:243px;
    height:164px;
}
main .experiences .card p{
    padding: 0;
    margin: 0;
}
.main .experiences .card .place{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 20px;

    /* identical to box height, or 182% */
    letter-spacing: 0.11px;
    text-transform: uppercase;

    color: #002B37;
}
.main .experiences .card .description{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;

    /* identical to box height, or 129% */
    letter-spacing: 0.17px;

    color: #464646;
}
.main .experiences .card .price{

    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;

    /* identical to box height, or 171% */
    letter-spacing: 0.14px;

    color: #464646;
}
.main .experiences .card .rating
{
    width: 61px;
    height: 10px;
}
.main .experiences .card  .retro_photo{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.main .experiences .card .retro_description{
    color: #009AB4;
}
.main .experiences .card span{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 5px;

    letter-spacing: 0.1px;
    color: #484848;

}




.main .homes{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 67px;
}
.main .homes>div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}
.main .homes>p {
    margin-bottom: -20px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 43px;

    /* identical to box height, or 165% */
    letter-spacing: 0.2px;

    color: #484848;
}
.main .homes .card{
    width: 333px;
    height: 316px;
    margin-right: 10px;
    margin-top: 32px;

}
.main .homes .card img{
    width:333px;
    height:222px;
}
main .homes .card p{
    padding: 0;
    margin: 0;
}
.main .homes .card .place{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 20px;

    /* identical to box height, or 182% */
    letter-spacing: 0.11px;
    text-transform: uppercase;

    color: #002B37;
}
.main .homes .card .description{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;

    /* identical to box height, or 129% */
    letter-spacing: 0.17px;

    color: #464646;
}
.main .homes .card .price{

    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;

    /* identical to box height, or 171% */
    letter-spacing: 0.14px;

    color: #464646;
}
.main .homes .card .rating
{
    width: 61px;
    height: 10px;
}
.main .homes .card span{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 5px;

    letter-spacing: 0.1px;
    color: #484848;

}