body{
    background: #ffffff;
    width: 97%;

}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    width: 95%;
}
p{
    font-family: Poppins;
    font-style: normal;
}
.header ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: right;
    flex-wrap: nowrap;
    list-style: none;
    margin-left: -10px;

}

.header ul a{
    color: #474747;
    text-decoration: none;
    font-family: "Poppins";
    margin-right: 30px;
}
.header ul .margin_item {
    margin-left: auto;
}


.search_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top:30px;

}
.search_form label p {


    font-weight: 500;
    font-size: 43px;
    line-height: 56px;
}
.search_form label span{

    
    
    font-weight: 600;
    font-size: 45px;
    line-height: 76px;
    color: #FC3C4F;
}
.search_form .bar{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    height: 72px;
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    box-shadow: 0px 2px 16px #ECECEC;
    border-radius: 5px;
}
 .search_form img{
    margin-left:10px ;
    margin-right: 10px;

}
.search_form .bar .city{
    height: 66px;
    width: 100%;
    
    
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    border: hidden;
}
 .search_form .bar .city::placeholder{
    
    
    font-weight: normal;
    font-size: 19px;
    line-height: 30px;
    color: #767676;
}
.search_form .bar .city:focus{
    outline: none;

}


.search_form .bar button{
    margin-left:auto;
    margin-right: 10px;
    background: #FF5661;
    
    
    font-weight: 500;
    font-size: 19px;
    line-height: 25px;
    color: #FFFFFF;

    border: hidden;
    text-align: center;
    border-radius: 5px;
    height: 48px;
}



  .explore{
    margin-top: 107px;
}

 .explore p{
    margin-bottom: -10px;



    font-weight: 600;
    font-size: 26px;
    line-height: 43px;
    color: #484848;
}
 .explore .explore_cards{
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
 .explore .explore_card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    width: 244px;
    margin-right: 10px;
    margin-top: 10px;
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    box-shadow: 0px 2px 16px #ECECEC;
    border-radius: 5px;
}
 .explore .explore_card p{
    margin: auto;
    font-weight: 600;
    font-size: 17px;
    line-height: 29px;
    color: #484848;
}
 .explore .explore_cards img{
    width: 96px;
    height: 70px;
}






.experiences ,  .homes, .new-york ,.featured{
    margin-top: 50px;
    display: flex;
    flex-direction: column;

}
.experiences > p, .homes > p, .new-york > p{
    font-weight: 600;
    font-size: 26px;
    line-height: 43px;
    letter-spacing: 0.2px;
    color: #484848;
    margin-bottom: -90px;


}
.featured>p{
    font-weight: 600;
    font-size: 26px;
    line-height: 43px;
    letter-spacing: 0.2px;
    color: #484848;
    margin-bottom: -3px;
}

.homes{
    margin-top: 100px;
}
.featured{
    margin-top: 150px;
}
 .experiences > div, .homes > div, .new-york > div,.featured>div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    height: 243px;
    width: 277px;
    margin-top: 90px;
}

 .card img {
    width: 243px;
    height: 164px;
}
 .card .rating{
    width: 61px;
    height: 10px;
}
 .card p{
     padding: 0;
     margin: 2px;
 }
 .homes .card img {
    width: 333px;
    height: 222px;
}
.homes .card .rating{
    width: 61px;
    height: 10px;
}
.homes .card{
    margin-right: auto;
}

.featured_card{
    margin-right: auto;
}
.card .description{
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;

    /* identical to box height, or 129% */
    letter-spacing: 0.17px;

    color: #484848;
}
.card .place{
    font-weight: 600;
    font-size: 11px;
    line-height: 20px;

    /* identical to box height, or 182% */
    letter-spacing: 0.11px;
    text-transform: uppercase;

    color: #4F4F4F;
}

.card .price{
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;

    /* identical to box height, or 171% */
    letter-spacing: 0.14px;

    color: #464646;
}
.card span{
    font-weight: normal;
    font-size: 13px;
    line-height: 5px;

    /* identical to box height, or 38% */
    letter-spacing: 0.1px;

    color: #484848;

}
.new-york .card .place{
    color: #8F5131;
}

.new-york .card .orange{
    color: #F08237;
}


.main{
    padding-bottom: 100px;
}

.footer{
    display: flex;
    flex-direction: column;
    border-top: 1px solid #DBDBDB;
    width: 95%;
}
.footer .info{
    display: flex;
    align-items: baseline;
    justify-content: center;
}
.footer .info .options{
    display: flex;
    flex-direction: column;
}
.footer ul{
    list-style: none;
    margin-left:107px;
    white-space: nowrap;
}
.footer ul .first{
    margin-bottom: 16.1px;
}
.footer ul a{
    text-decoration: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #767676
}
.footer ul .first a{
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #484848;
}
.footer .info select{
    width: 248px;
    height: 46.28px;
    margin-top: 10px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 19px;
    line-height: 24px;

    /* or 126% */

    color: #484848;
}
.footer .social_container{
    align-self: center;
    width: 1100px;
    border-top: 1px solid #DBDBDB;
}
.footer .social_links {
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 10px 0;
    padding: 0;
}
.footer .social_links li img{
    width: 20px;
    height: 20px;
}
.footer .social_links li{
    margin: 5px;
}
.footer .social_links .margin_item{
    margin-left:auto ;
}
@media (max-width: 1150px) {
    .experiences > p, .homes > p, .new-york > p, .featured>p , .explore >p{
        margin-left: auto;
        margin-right: auto;
    }
    .experiences > div , .homes .card, .new-york .card ,.featured_card{
        margin-left: auto;
        margin-right: auto;
    }
    .footer .info ul{
        margin-left: auto;
    }
    .footer .social_container{
        width: 849px;
    }

}
@media (max-width: 850px){
    .footer .hide{
        display: none;
    }
}

